# This is a basic workflow to help you get started with Actions

name: CI
on:
  push:
    branches: [ "main" ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
      - name : Check Java version
        run : java --version
      - name : Check terraform version
        run : terraform --version
      - name : Check docker version
        run : docker --version
      - name : Check docker images
        run : docker images
      - name :  Check all softwares
        run : ls /usr/bin


